@import "../../styles/variables";

.container {
  width: 100%;
  height: 100vh;
  font-family: $Montserrat;
  color: $text;

  section {
    position: relative;
    background-color: $primary;
    width: 100%;
    height: 100%;

    .headerWrapper {
      position: absolute;
      top: 7.5%;
      left: 5%;

      h2 {
        line-height: 5rem;
        font-size: 6.5rem;
        font-family: $DoHyeon;

        &:last-of-type {
          padding-left: 3.5rem;
        }
      }
    }

    .wrapper1 {
      h3 {
        font-size: 2.35rem;
        margin-bottom: 1.5vh;
        font-weight: 700;
      }

      p {
        font-size: 1.1rem;
      }

      width: 60%;
      position: absolute;
      top: 40%;
      right: 5%;
    }

    .wrapper2 {
      h3 {
        font-size: 2.35rem;
        margin-bottom: 1.5vh;
        font-weight: 700;
      }

      p {
        font-size: 1.1rem;
      }

      width: 60%;
      position: absolute;
      bottom: 10%;
      left: 5%;
    }
  }

  .nextPage {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0.2rem;
    left: 50%;

    a {
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: $Montserrat;
      padding-left: 10rem;
      color: $text;
      overflow: hidden;
      background: linear-gradient(
        to right,
        $secondary,
        $secondary 50%,
        $text 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 500ms ease;
      text-decoration: none;
      &:hover {
        background-position: 0 100%;
      }
    }
  }

  .hr {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 1.5rem;
    left: calc(50% - 3rem);
    width: 3rem;
    margin-right: 1.5rem;
    transform: rotate(90deg);
  }
}
